* {

padding: 0;
margin: 0;
list-style-type: none;
  
}

body, html {

/* height: 100%; */

font-family: Arial, Helvetica, sans-serif;

}

.wrapper {
    /* min-height: 100%;
    display: flex;
    flex-direction: column; */

}
.content {
    flex: 1 1 auto;
   
}
.menu {
    background: #000000;
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
}

.menu li {
color: #ffffff;
font-size: 16px;


}


.menu ul {

display: flex;
justify-content: space-between;

}


.container {
    width: 840px;
    margin: 0 auto;
}
.content-menu {
    display: flex;
    justify-content: space-between;
}
.right-heand {
    width: 550px;
}

.left-heand {

    display: flex;
}
.left-heand p {
    color: #ffffff;
    font-size: 16px;
    padding-left: 15px;

}
.main {
    display: flex;

/*  */
height: 1370px;

    background-image: url('./имж/bg.png');


}

.logo {


display: flex;
    flex-direction: row;
     justify-content:space-around;
align-items: center;
height: 210px;
margin-bottom: 45px;

}


/* main description */

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* height: 250px; */
    color: #ffffff;
    font-size: 9px;
    line-height: 21px;
    text-transform: uppercase;
   
}
.one, .two, .three {
    
    display: flex;
    /* flex-direction: column;
    align-items:flex-start;
    justify-content:flex-start; */
   
    max-width: 220px;
   
    flex: 0 1 33.333%;
    height: 100%;
    height: 220px;
    

}


.three-wrap {
    /* align-items: start;
    justify-content: start;
    min-height: 100%;
    flex: 1 1 auto; */

    display: flex;
flex-direction: column;
min-height: 100%;

    
   

}
   
.title-d1 {
    font-size: 19px;
    text-align: center;
    padding-bottom: 15px;
    margin-top: 0px;
    

}
.laib {
    text-align: center;
}
.text-d {
    padding-top: 20px;
    text-align: center;
    flex: 1 1 auto;
}


/* big bords */
/* up-b-b */

.main-flex-column {
    display: flex;
    flex-direction: column;
}
.up-big-bord {
    background: #ffffff;
    color: #000000;
    
}
.wrap-big-bord {
    display: flex;
    /* justify-content: space-between; */
    padding: 25px 30px 25px 30px;
}
.left-content-b-b {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    /* margin-right: -45px;  */
    /* width: 550px;  */
    /* width: 220px;  */
    /* padding-right: 40px;  */
    /* max-width: 550px; */
    margin-right: 50px; 
}

.left-dop-b-b {
    /* margin-right: -90px; */
    /* width: 500px !important; */
    /* padding-right: 50px; */





}

.mi {
margin-left: -16px; 


}



.middle-content-b-b {
    /* margin-left: 100px; */
    /* margin: auto 55px auto 100px;   */
    
   
   /* margin: auto 50px; */
}

.right-content-b-b {
    display: flex;
    flex-direction: column;
    flex: 1 1 50%;
    /* width: 220px; */
    /* margin-left: 62px; */
   margin-left: 40px;
   /* padding-left: 40px; */
   /* max-width: 320px; */

}




.right-dop-b-b {
     /* margin-left: 30px; */
    /* max-width: 280px; */
   




}
.title-b-b, .title-b-b-right {
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
}
.text-b-b {
    /* margin-bottom: 7px; */
    font-size: 12px;
    line-height: 22px;
    font-weight: 600;
} 

.special {
    margin-top: 10px;
    font-weight: 800;


}
.p {
    margin-bottom: 22px;
}
.btn-b-b {
}
.unit-btn-b-b {
    background: #000;
    padding: 15px 25px;
    color:#ffffff;
    font-size: 11px;
    font-weight: 800;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    margin-right: 25px;
    margin-top: 15px;
}
.no-btn {
    background: #000;
    padding: 15px 25px;
    color:#ffffff;
    font-size: 11px;
    font-weight: 800;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
   
    margin-top: 15px;
}




.image-b-b-right {
    margin-bottom: 62px;
}
.bloc-buttons-b-b {
}
/* up-b-b */


/* down-b-b */
.down-big-bord {
    background: #ffffff;
    color: #000000;
    margin-top: 40px;
}



.pi {

    margin-top: 25px;
    margin-bottom: 25px;
     
}




.title-down-left, .title-down-right {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
}
.time-table, .text-down-right {
    font-size: 11px;
    line-height: 22px;
    font-weight: 600;
}
.buttons-down-left {


    display: flex;
    min-width: 360px;
    margin-top: 15px;
}




.general-input-bloc {
    display: flex;
    justify-content: space-between; 
}
.input-column-left {
    display: flex;
    flex-direction: column;}
    /* padding: 15px 25px;
    text-align: left;
    max-width: 60px;
} */


.input-column-left input, .input-column-right input {

    border: 2px solid #000;
    border-radius: 4px;
    max-width: 60px;
    text-align: left;
    font-size: 14px;
    color: grey;
    padding: 4px 40px 3px 3px;
}


 



.data, .name, .time, .phone{
    margin-top: 15px;
    margin-bottom: 10px; 
  
    
    
    /* border: 2px solid #000; */
    
  
    /* border-radius: 4px; */
}
.input-column-right {
    display: flex;
    flex-direction: column;
    
}

.input-column-right div {
/* margin-top: 15px; */

}

.btn-down-right {
}
.unik-button {
     background: #000;
    padding: 15px 75px;
    color:#ffffff;
    font-size: 11px;
    font-weight: 800;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    margin-right: 30px;
    margin-top: 27px;
}









   
.footer {
    background: #242424;
    height: 183px;
}


.container {
}
.wrap-footer {
display: flex;
justify-content: space-between;
margin: auto -30px;
color: #ffffff;



}
.one-f {
    flex: 1 1 auto;
    padding: 30px 30px;
    font-size: 11px;
    font-weight: 700;
   
}
.one-f p {
    line-height: 28px;


}

.one-f a {
color: #ffffff;
text-decoration: underline;


}

.two-f {
    flex: 1 1 auto;
    padding: 30px 30px;
    margin-top: 10px;
}
.up-m-f {
    padding-left: 25px;
    font-weight: 700;
   
}
.net-bloc {
    display: flex;
   margin: auto -12px;
   margin-top: 25px;
}
.net-bloc div {
    margin: auto 12px;
    
    background: #000;
    




}


.vk {
    padding: 18px 15px 15px 15px;
}
.fb {
    padding: 13px 22px;
}
.inst {
    padding: 13px 18px;
}

.three-f {
    flex: 1 1 auto;
    padding: 30px 30px;
    margin-top: 10px;
}
.up-r-f {
    font-weight: 700;
    padding-left: 24px;
    


}
.btn-f-bloc {
    background: #000;
padding: 15px 34px;
margin-top: 24px;
border: none;
color: #ffffff;
font-size: 17px;
}


